<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <p>Welcome, Admin! Choose an action below:</p>

       
        <button onclick="window.location.href='/add_hotel'" class="button">Add Hotel</button>
        <button id="view-hotels-btn" class="button">View Hotels</button>
        <button id="logout-btn" class="button">Log Out</button> 
    </div>

    <script src="static/scripts/admin.js"></script>
    <script src="static/scripts/logout.js"></script>
</body>
</html>
