<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Hotels</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Search Hotels</h1>
        <div id="search-container">
            <input type="text" id="search-query" placeholder="Enter hotel name or location">
            <button id="search-button" class="button">Search</button>
        </div>
        <div id="search-results-container" class="hotels-container"></div>
        <button onclick="window.location.href='/dashboard'" class="button">Back to Dashboard</button>
    </div>
    <script>
        document.getElementById('search-button').addEventListener('click', async function() {
            const query = document.getElementById('search-query').value;
            try {
                const response = await fetch(`/api/search_hotels?query=${query}`);
                const result = await response.json();
                if (response.ok) {
                    let resultsList = '';
                    result.hotels.forEach(hotel => {
                        resultsList += `
                            <div class="hotel-card">
                                <h3>${hotel.name}</h3>
                                <p>Location: ${hotel.location}</p>
                                <p>Description: ${hotel.description}</p>
                                <button class="button book-hotel-btn" data-id="${hotel.id}">Book</button>
                            </div>`;
                    });
                    document.getElementById('search-results-container').innerHTML = resultsList;
                    const bookButtons = document.querySelectorAll('.book-hotel-btn');
                    bookButtons.forEach(button => {
                        button.addEventListener('click', (event) => {
                            const hotelId = event.target.getAttribute('data-id');
                            window.location.href = `/book_hotel/${hotelId}`;
                        });
                    });
                } else {
                    document.getElementById('search-results-container').innerHTML = '<p>No results found. Please try another search.</p>';
                }
            } catch (error) {
                document.getElementById('search-results-container').innerHTML = '<p>An error occurred while searching. Please try again later.</p>';
            }
        });
    </script>

</body>
</html>
