<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Hotels</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>View Hotels</h1>
        <div id="hotels-container"></div>
        <button onclick="window.location.href='/dashboard'" class="button">Back to Dashboard</button>
    </div>
    <script src="static/scripts/view_hotels.js"></script>
</body>
</html>
